<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>


    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div>
            @RenderBody()
        </div>

        @RenderSection("scripts", false)
        <footer>
            @if (IsSectionDefined("Footer"))
            {
                @RenderSection("Footer")
            }
            else
            { 
                <span>Все права защищены. Syte SE Corp. 2016.</span>   
            }
        </footer>
    </div>
</body>
</html>

