@model SimplyNewsPortal.Models.BlogPost

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Create</h2>

@using (Html.BeginForm())
{   

    <fieldset>
        <legend>BlogPost</legend>

        <div class="form-group">
            <label for="title">Заголовок</label>
            <input class="form-control" id="Title" name="Title" type="text">
            <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="PostedOn">Дата публикации</label>
            <input class="form-control" id="PostedOn" name="PostedOn" type='date'>
            <span class="field-validation-valid" data-valmsg-for="PostedOn" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="Tags">Тэги</label>
            <input class="form-control" id="Tags" name="Tags">
            <span class="field-validation-valid" data-valmsg-for="Tags" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="Content">Содержимое</label>
            <textarea class="form-control" id="Content" name="Content"></textarea>
            <span class="field-validation-valid" data-valmsg-for="Content" data-valmsg-replace="true"></span>
        </div>

        <p>
            <input type="submit" value="Create" id="btnCreate" />
        </p>
    </fieldset>
}

<div>

    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>  
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript" src='~/Scripts/tinymce/tinymce.js'></script>
    <script src="~/Scripts/NewsPortal/tinyMceSetting.js"></script>

    <script src="~/Scripts/NewsPortal/dateTimePicker.js"></script>


</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnCreate").click(function (e) {
                e.preventDefault();

                AddNews();
            });
        });

        // Добавление новой книги
        function AddNews() {

            var content = tinyMCE.activeEditor.getContent();

            // получаем значения для добавляемой книги
            var news = {
                PostedOn: $('#PostedOn').val(),
                Tags: $('#Tags').val(),
                Title: $('#Title').val(),
                Content: content
            };

            $.ajax({
                url: '@Url.Action("CreateNews", "Home")',
                type: 'POST',
                data: JSON.stringify(news),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert(data.resultMessage);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}


